#sidebar {
  width: 15%;
  background-color: #191D32;
  border: 1px solid black;
  overflow-y: scroll;
}

.phase-div {
  background-color: #6d3b47;
  border: 1px solid white;
  height: 100px;
  padding: 10px;
}

.phase-div:hover {
  cursor: pointer;
  background-color: #BA2C73;
}

.phase-selected {
  border: 1px solid white;
  background-color: #BA2C73;
  height: 100px;
  padding: 10px;
}

.phase-container h3 {
  display: inline;

}

.phase-container button {
  width: 70px;
  height: 40px;
  margin-left: 0px;
}

.step-div {
  width: 100%;
  border: 1px solid white;
  background-color: #453a49;
  text-align: center;
}

.step-div:hover {
  background-color: #BA2C73;
  cursor: pointer;
}